html, body {
    margin: 0;
    padding: 0;
    }

#root {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    min-height: 100vh;
    }

.App {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background: #0e1730;

    }

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;

    }

.col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    }

$ContentFont: 'PT Sans', sans-serif;
$TitleFont: 'Special Elite', cursive;
    

// ------------------------------------------------------------DashHome----------------------------

.Nav {
    width: 100%;
    height: 2em;
    background: rgba(31, 30, 30, 0.603);
    border-radius: 0px 0px 10px 10px ;
    display: flex;
    flex-direction: row;

    .navSettings {
        font-family: $ContentFont;
        font-size: 1em;
        color: #f3f3f3;
        margin-top: auto;
        margin-left: 5%;
    }
}

.DashHome {

    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;

// ---------------------------WeatherWindow--------------------

    .WeatherWindow {
        margin-left: auto;
        margin-right: auto;
        width: 90%;
        border-radius: 10px;
        display: flex;
        flex-direction: column;

        h2 {
            font-size: 3rem;
            font-family: $ContentFont;
            margin-left: auto;
            margin-right: auto;
            color: white;
            font-size: 8rem;
        }

        .row {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;


            iframe {
                margin: auto;
            }

            .currentHolder {
                display: flex;
                flex-direction: column;
                margin-left:auto;
                margin-right: auto;
                width: 30em;
                height: auto;
                border: rgb(228, 242, 255) solid;
                border-radius: 20px;
                background-color: #0e1730;
                color: rgb(228, 242, 255);
                    
                    .col {
                        margin-top: 1em;
                        margin-left: auto;
                        margin-right: auto;
                        font-family: $ContentFont;
    
                        h3 {
                            font-size: 2.25rem;
                            margin-top: 0%;
                            margin-bottom: 0%;
                            margin-left: auto;
                            margin-right: auto;
                        }
    
                        h2 { 
                            font-size: 1.5rem;
                            margin-top: 0%;
                            margin-left: auto;
                            margin-right: auto;
                        }
        
                        img {
                            margin-bottom: 0%;
                            margin-left: auto;
                            margin-right: auto;
                            width: 35%;
                            height: auto;
                        }
                    }
    
                    .colTwo {
                        background-color: #c3e0f81c;
                        border-radius: 12px;
                        margin-left: auto;
                        margin-right: auto;
                        margin-bottom: 1em;
                        font-family: $ContentFont;
                        width: 80%;
    
                        h2 { 
                            font-size: 1.5rem;
                            margin-left: 1em;
                            margin-right: auto;
                        }
        
                    }
    
                }
            }
        .rowTwo {

            display: flex;
            flex-direction: row;

            .fiveDayHolder {
                display: flex;
                flex-direction: column;
                margin: 1em;
                width: 25%;
                border: rgb(228, 242, 255) solid;
                border-radius: 20px;
                background-color: #0e1730;
                color: rgb(228, 242, 255);
    
                .col {
                    margin-top: 1em;
                    margin-left: auto;
                    margin-right: auto;
                    font-family: $ContentFont;
    
                    h3 {
                        font-size: 1.25rem;
                        margin-top: 0%;
                        margin-bottom: 0%;
                        margin-left: auto;
                        margin-right: auto;
                    }
    
                    h2 { 
                        font-size: 1rem;
                        margin-top: 0%;
                        margin-left: auto;
                        margin-right: auto;
                    }
    
                    img {
                        margin-bottom: 0%;
                        margin-left: auto;
                        margin-right: auto;
                        width: 20%;
                        height: auto;
                    }
                }
    
                .colTwo {
                    background-color: #c3e0f81c;
                    border-radius: 12px;
                    margin-top: 1em;
                    margin-left: auto;
                    margin-right: auto;
                    margin-bottom: 1em;
                    font-family: $ContentFont;
                    width: 80%;
    
                    h2 { 
                        font-size: 1rem;
                        margin-left: 1em;
                        margin-right: auto;
                    }
    
                }
            }
        }
            
        

    }

// ----------------NewsWindow--------------------

    .NewsWindow {
        margin-left: auto;
        margin-right: auto;
        width:100%;
        border-radius: 10px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        .articleHolder {
            display: flex;
            flex-direction: column;
            margin-left: auto;
            margin-right: auto;
            margin-top: 1.5em;
            margin-bottom: 1.5em;
            width: 20em;
            height: auto;
            border: rgb(228, 242, 255) solid;
            border-radius: 8px;
            background-color: #8f9bb9;
            color: rgb(3, 3, 3);
            font-family: $ContentFont;

            .col {
                width: 80%;
                margin-left: auto;
                margin-right: auto;

                h3 {
                    font-size: 1.5rem;
                }

                img {
                    width: 100%;
                    height: auto;
                    margin:auto;
                }
            }
        }
    }


}