html, body {
  margin: 0;
  padding: 0;
}

#root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  min-height: 100vh;
}

.App {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background: #0e1730;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Nav {
  width: 100%;
  height: 2em;
  background: rgba(31, 30, 30, 0.603);
  border-radius: 0px 0px 10px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.Nav .navSettings {
  font-family: "PT Sans", sans-serif;
  font-size: 1em;
  color: #f3f3f3;
  margin-top: auto;
  margin-left: 5%;
}

.DashHome {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  width: 100%;
}

.DashHome .WeatherWindow {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.DashHome .WeatherWindow h2 {
  font-size: 3rem;
  font-family: "PT Sans", sans-serif;
  margin-left: auto;
  margin-right: auto;
  color: white;
  font-size: 8rem;
}

.DashHome .WeatherWindow .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.DashHome .WeatherWindow .row iframe {
  margin: auto;
}

.DashHome .WeatherWindow .row .currentHolder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  width: 30em;
  height: auto;
  border: #e4f2ff solid;
  border-radius: 20px;
  background-color: #0e1730;
  color: #e4f2ff;
}

.DashHome .WeatherWindow .row .currentHolder .col {
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
  font-family: "PT Sans", sans-serif;
}

.DashHome .WeatherWindow .row .currentHolder .col h3 {
  font-size: 2.25rem;
  margin-top: 0%;
  margin-bottom: 0%;
  margin-left: auto;
  margin-right: auto;
}

.DashHome .WeatherWindow .row .currentHolder .col h2 {
  font-size: 1.5rem;
  margin-top: 0%;
  margin-left: auto;
  margin-right: auto;
}

.DashHome .WeatherWindow .row .currentHolder .col img {
  margin-bottom: 0%;
  margin-left: auto;
  margin-right: auto;
  width: 35%;
  height: auto;
}

.DashHome .WeatherWindow .row .currentHolder .colTwo {
  background-color: #c3e0f81c;
  border-radius: 12px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
  font-family: "PT Sans", sans-serif;
  width: 80%;
}

.DashHome .WeatherWindow .row .currentHolder .colTwo h2 {
  font-size: 1.5rem;
  margin-left: 1em;
  margin-right: auto;
}

.DashHome .WeatherWindow .rowTwo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.DashHome .WeatherWindow .rowTwo .fiveDayHolder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 1em;
  width: 25%;
  border: #e4f2ff solid;
  border-radius: 20px;
  background-color: #0e1730;
  color: #e4f2ff;
}

.DashHome .WeatherWindow .rowTwo .fiveDayHolder .col {
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
  font-family: "PT Sans", sans-serif;
}

.DashHome .WeatherWindow .rowTwo .fiveDayHolder .col h3 {
  font-size: 1.25rem;
  margin-top: 0%;
  margin-bottom: 0%;
  margin-left: auto;
  margin-right: auto;
}

.DashHome .WeatherWindow .rowTwo .fiveDayHolder .col h2 {
  font-size: 1rem;
  margin-top: 0%;
  margin-left: auto;
  margin-right: auto;
}

.DashHome .WeatherWindow .rowTwo .fiveDayHolder .col img {
  margin-bottom: 0%;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  height: auto;
}

.DashHome .WeatherWindow .rowTwo .fiveDayHolder .colTwo {
  background-color: #c3e0f81c;
  border-radius: 12px;
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
  font-family: "PT Sans", sans-serif;
  width: 80%;
}

.DashHome .WeatherWindow .rowTwo .fiveDayHolder .colTwo h2 {
  font-size: 1rem;
  margin-left: 1em;
  margin-right: auto;
}

.DashHome .NewsWindow {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.DashHome .NewsWindow .articleHolder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  width: 20em;
  height: auto;
  border: #e4f2ff solid;
  border-radius: 8px;
  background-color: #8f9bb9;
  color: #030303;
  font-family: "PT Sans", sans-serif;
}

.DashHome .NewsWindow .articleHolder .col {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.DashHome .NewsWindow .articleHolder .col h3 {
  font-size: 1.5rem;
}

.DashHome .NewsWindow .articleHolder .col img {
  width: 100%;
  height: auto;
  margin: auto;
}
/*# sourceMappingURL=style.css.map */